<section class="tileBack">
  <section class="summaryTotalSection baseTile">
    <div class="todayBanner"></div>
    <h2 id="todayDate">{{todaysDate}}</h2>

    <table class="todayTable">
      <!-- Row for activity -->
      <tr class="todayTableRow">
        <td class="todayTableCell todayTableActivityCell">
          <img class="attrIcon" [src]="icons.steps_day">
          <p class="todayTableAttrValue todayTableActivityValue">12041 steps</p>
        </td>
        <td class="todayTableCell todayTableActivityCell">
          <img class="attrIcon" [src]="icons.burn_day">
          <p class="todayTableAttrValue todayTableActivityValue">97112 cal.</p>
        </td>
        <td class="todayTableCell todayTableActivityCell">
          <img class="attrIcon" [src]="icons.flame_day">
          <p class="todayTableAttrValue todayTableActivityValue">72h 81m</p>
        </td>
        <td class="todayTableCell todayTableActivityCell">
          <img class="attrIcon" [src]="icons.desk">
          <p class="todayTableAttrValue todayTableActivityValue">192h 1m</p>
        </td>
        <td class="todayTableCell todayTableActivityCell">
          <img class="attrIcon" [src]="icons.running_day">
          <p class="todayTableAttrValue todayTableActivityValue">895km</p>
        </td>
      </tr>
      <!-- Row for workouts -->
      <tr class="todayTableRow">
        <td class="todayTableCell todayTableWorkoutCell todayTableFirstCell">
          <h1 class="attrLargeNumber">98</h1>
          <p class="todayTableAttrValue">workouts logged</p>
        </td>
        <td class="todayTableCell todayTableWorkoutCell">
          <h1 class="attrLargeNumber">218h 18m</h1>
          <p class="todayTableAttrValue">workout duration</p>
        </td>
        <td class="todayTableCell todayTableWorkoutCell">
          <h1 class="attrLargeNumber">412km</h1>
          <p class="todayTableAttrValue">travelled</p>
        </td>
        <td class="todayTableCell todayTableWorkoutCell">
          <h1 class="attrLargeNumber">64911</h1>
          <p class="todayTableAttrValue">calories burned</p>
        </td>
      </tr>
      <!-- Row for percentages -->
      <tr class="todayTableRow">
        <td class="todayTableCell todayTablePercCell todayTableFirstCell">
          <h1 class="attrLargeNumber">46%</h1>
          <p class="todayTableAttrValue">workout weather obtained</p>
        </td>
        <td class="todayTableCell todayTablePercCell">
          <h1 class="attrLargeNumber">76%</h1>
          <p class="todayTableAttrValue">day summary obtained</p>
        </td>
        <td class="todayTableCell todayTablePercCell">
          <h1 class="attrLargeNumber">87%</h1>
          <p class="todayTableAttrValue">workout summary obtained</p>
        </td>
        <td class="todayTableCell todayTablePercCell">
          <h1 class="attrLargeNumber">98% </h1>
          <p class="todayTableAttrValue">sleep summary obtained</p>
        </td>
      </tr>
    </table>
  </section>

  <section class="companyGraphLeft baseTile">

  </section>
  <section class="companyGraphRight baseTile">

  </section>
  <section class="companyGraphLeft baseTile">

  </section>
  <section class="companyGraphRight baseTile">

  </section>
  <section class="companyGraphLeft baseTile">

  </section>
  <section class="companyGraphRight baseTile">

  </section>






</section>

