<section class="tileBack">
  <section class="summaryTotalSection baseTile">
    <div class="todayBanner"></div>
    <h2 id="todayDate">{{todaysDate}}</h2>

    <table class="todayTable">
      <!-- Row for activity -->
      <tr>
        <td class="todayTableCell todayTableActivityCell">
          <img class="todayTableActivityIcon" [src]="icons.steps_day">
          <p class="todayTableAttrValue todayTableActivityValue">{{tableAttributes.steps}} steps</p>
        </td>
        <td class="todayTableCell todayTableActivityCell">
          <img class="todayTableActivityIcon" [src]="icons.burn_day">
          <p class="todayTableAttrValue todayTableActivityValue">{{tableAttributes.calories}} cal.</p>
        </td>
        <td class="todayTableCell todayTableActivityCell">
          <img class="todayTableActivityIcon" [src]="icons.flame_day">
          <p class="todayTableAttrValue todayTableActivityValue">{{tableAttributes.active_time}}</p>
        </td>
        <td class="todayTableCell todayTableActivityCell">
          <img class="todayTableActivityIcon" [src]="icons.running_day">
          <p class="todayTableAttrValue todayTableActivityValue">{{tableAttributes.distance}} m</p>
        </td>
      </tr>
      <!-- Row for sleeps -->
      <tr class="todayTableSleepRow">
        <td class="todayTableCell todayTableAttrRowIcon">
          <img class="attrIcon" [src]="icons.moon_day">
        </td>
        <td class="todayTableCell todayTableSleepCell">
          <h1 class="attrLargeNumber">{{tableAttributes.sleep_duration}}</h1>
          <p class="todayTableAttrValue">total sleep</p>
        </td>
        <td class="todayTableCell todayTableSleepCell">
          <h1 class="attrLargeNumber">{{tableAttributes.light}}</h1>
          <p class="todayTableAttrValue">light sleep</p>
        </td>
        <td class="todayTableCell todayTableSleepCell">
          <h1 class="attrLargeNumber">{{tableAttributes.REM}}</h1>
          <p class="todayTableAttrValue">REM sleep</p>
        </td>
        <td class="todayTableCell todayTableSleepCell">
          <h1 class="attrLargeNumber">{{tableAttributes.deep}} </h1>
          <p class="todayTableAttrValue">deep sleep</p>
        </td>
      </tr>
      <!-- Row for workouts -->
      <tr class="todayTableWorkoutRow">
        <td class="todayTableCell todayTableAttrRowIcon">
          <img class="attrIcon" [src]="icons.dumbbell_day">
        </td>
        <td class="todayTableCell todayTableWorkoutCell">
          <h1 class="attrLargeNumber">{{tableAttributes.wo_logged}}</h1>
          <p class="todayTableAttrValue">workouts logged</p>
        </td>
        <td class="todayTableCell todayTableWorkoutCell">
          <h1 class="attrLargeNumber">{{tableAttributes.wo_duration}}</h1>
          <p class="todayTableAttrValue">workout duration</p>
        </td>
        <td class="todayTableCell todayTableWorkoutCell">
          <h1 class="attrLargeNumber">{{tableAttributes.wo_distance}} m</h1>
          <p class="todayTableAttrValue">travelled</p>
        </td>
        <td class="todayTableCell todayTableWorkoutCell">
          <h1 class="attrLargeNumber">{{tableAttributes.wo_calories}} cal.</h1>
          <p class="todayTableAttrValue">burned</p>
        </td>
      </tr>
      <!-- Row for percentages -->
      <tr class="todayTablePercRow">
        <td class="todayTableCell todayTableAttrRowIcon">
          <img class="attrIcon" [src]="icons.percentage">
        </td>
        <td class="todayTableCell todayTablePercCell">
          <h1 class="attrLargeNumber">{{tableAttributes.wo_we_percentage}}%</h1>
          <p class="todayTableAttrValue">workout weather obtained</p>
        </td>
        <td class="todayTableCell todayTablePercCell">
          <h1 class="attrLargeNumber">{{tableAttributes.day_summary_percentage}}%</h1>
          <p class="todayTableAttrValue">day summary obtained</p>
        </td>
        <td class="todayTableCell todayTablePercCell">
          <h1 class="attrLargeNumber">{{tableAttributes.wo_summary_percentage}}%</h1>
          <p class="todayTableAttrValue">workout summary obtained</p>
        </td>
        <td class="todayTableCell todayTablePercCell">
          <h1 class="attrLargeNumber">{{tableAttributes.sleep_summary_percentage}}% </h1>
          <p class="todayTableAttrValue">sleep summary obtained</p>
        </td>
      </tr>
    </table>
  </section>
  <!-- ------------------------------------------------------------>
  <!-- 7 days mood graph------------------------------------------>
  <section class="companyGraphLeft baseTile">
    <h2 class="companyGraphTitle">Mood</h2>
    <div class="chart" style="display: block;">
      <canvas baseChart
              [datasets]="moodChartData"
              [labels]="moodChartLabels"
              [options]="moodChartOptions"
              [colors]="sleepChartColors"
              [legend]="lineChartLegend"
              [chartType]="barChartType"
              [style.height]="100+ '%'"></canvas>
    </div>
  </section>
  <!-- ------------------------------------------------------------>
  <!-- 7 days sleep graph------------------------------------------>
  <section class="companyGraphRight baseTile">
    <h2 class="companyGraphTitle">Hours of Sleep</h2>
    <div class="chart" style="display: block;">
      <canvas baseChart
              [datasets]="sleepChartData"
              [labels]="sleepChartLabels"
              [options]="sleepChartOptions"
              [colors]="sleepChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [style.height]="100+ '%'"></canvas>
    </div>
  </section>
  <!-- 7 days Workout graph ---------------------------------------------->
  <section class="companyGraphLeft baseTile">
    <h2 class="companyGraphTitle">Workouts Completed This Week</h2>
    <div class = "chart" style="display: block; height: 100%">
      <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [colors]="doughnutChartColors"
              [chartType]="doughnutChartType"
              [options]="doughnutChartOptions"
              [style.height]="99+ '%'"></canvas>
    </div>
  </section>
  <!-- ------------------------------------------------------------>
  <!-- 7 days steps graph------------------------------------------>
  <section class="companyGraphRight baseTile">
    <h2 class="companyGraphTitle">Steps</h2>
    <div class="chart" style="display: block;">
      <canvas baseChart
              [datasets]="stepChartData"
              [labels]="stepChartLabels"
              [options]="stepChartOptions"
              [colors]="stepChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [style.height]="100+ '%'"></canvas>
    </div>
  </section>
  <!-- ------------------------------------------------->
  <!-- Weekly Deep Sleep AVG graph ----------------------------->
  <section class="companyGraphLeft baseTile">
    <h2 class="companyGraphTitle">Average Deep Sleep</h2>
    <div class="chart" style="display: block;">
      <canvas baseChart
              [datasets]="deepChartData"
              [labels]="deepChartLabels"
              [options]="deepChartOptions"
              [colors]="avgChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [style.height]="100+ '%'"></canvas>
    </div>
  </section>
  <!-- ------------------------------------------------------------>
  <!-- Weekly HR AVG graph------------------------------------------>
  <section class="companyGraphRight baseTile">
    <h2 class="companyGraphTitle">Average Heart Rate</h2>
    <div class="chart" style="display: block;">
      <canvas baseChart
              [datasets]="HRChartData"
              [labels]="HRChartLabels"
              [options]="HRChartOptions"
              [colors]="avgChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [style.height]="100+ '%'"></canvas>
    </div>
  </section>
  <!-- ---------------------------------------------------->
</section>

