<nav class="header">
  <div class="navLeft">
    <h1 class="welcomeMessage">Welcome, Bhavnit</h1>
  </div>
  <div class="navMiddle">
    <ul class="navigation">
      <li><a selected="true">User</a></li>
      <li><a>Company</a></li>
    </ul>
  </div>
   <div class="navRight">

   </div>

</nav>

<div class="tileBack">
  <div class="tileToday baseTile">
    <div class="todayBanner"></div>
    <h2 id="todayDate">{{todaysDate}}</h2>


    <div class="todayBarSection">
      <!-- Steps section -->
      <div class="todayBarSteps">
        <p class="todayBarSectionTitle">Steps</p>

        <p class="attrBarMaxValue"> {{attributes.steps_max}}</p>
        <section class="attrBarMaxSection">
          <div class="attrBarMax"></div>
        </section>

        <section class="attrBarSection" [style.width] = "barWidth.steps">
          <div class="attrBar">
            <p class="attrBarValue">{{attributes.steps}}</p>
          </div>
        </section>

        <div class="attrBarAvgSection" [style.width] = "barWidth.steps_avg">
          <div class="attrBarAvg"></div>
          <p class="attrBarAvgValue">{{attributes.steps_avg}}</p>
        </div>
      </div>


      <!-- Active time section -->
      <div class="todayBarActiveTime">
        <p class="todayBarSectionTitle">Active Time</p>

        <p class="attrBarMaxValue"> {{attributes.active_time_max}}</p>
        <section class="attrBarMaxSection">
          <div class="attrBarMax"></div>
        </section>

        <section class="attrBarSection" [style.width] = "barWidth.active_time">
          <div class="attrBar">
            <p class="attrBarValue">{{attributes.active_time}}</p>
          </div>
        </section>

        <section class="attrBarAvgSection" [style.width] = "barWidth.active_time_avg">
          <div class="attrBarAvg"></div>
          <p class="attrBarAvgValue">{{attributes.active_time_avg}}</p>
        </section>

      </div>
    </div>





    <div class="todayDonutSection">
      <div style="display: block; height: 100%">
        <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [colors]="doughnutChartColors"
                [chartType]="doughnutChartType"
                [options]="doughnutChartOptions"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"
                [style.height]="100+ '%'" ></canvas>
      </div>
    </div>




    <div class="attrWrapper">
      <table width = "100%">
        <tr>
          <td class= "attrCell attrClick" (click)="toggleGraph('sleepGraphState')">
            <img class="attrIcon" [src]="icons.clock" />
            <p class="attrValue"> {{attributes.asleep_time}}</p>
          </td>
          <td class="attrCell">
            <img class="attrIcon" [src]="icons.clock" />
            <p class="attrValue"> {{attributes.awake_time}} </p>
          </td>
          <td class="attrCell">
            <img class="attrIcon" [src]="icons.heart_day" />
            <p class="attrValue"> {{attributes.HR}}</p>
          </td>
          <td class= "attrCell attrClick" (click)="toggleGraph('calorieGraphState')">
            <img class="attrIcon" [src]="icons.burn_day" />
            <p class="attrValue"> {{attributes.calories}}</p>
          </td>
          <td class="attrCell attrClick" (click)="toggleGraph('idleGraphState')">
            <img class="attrIcon" [src]="icons.desk" />
            <p class="attrValue"> {{attributes.idle_time}} </p>
          </td>
          <td class="attrCell">
            <img class="attrIcon" [src]="attributes.mood" />
          </td>
        </tr>
      </table>
    </div>


  </div>





  <div [@toggleGraphWrapper]='graphWrapperState' class="attrGraphWrapper" id="attrGraphWrapper">
    <div [@toggleGraph]='graphStates.sleepGraphState.state' [style.order]="graphStates.sleepGraphState.order" class="attrGraphTile baseTile" id="sleepGraphTile">
      <h1 class="attrGraphTitle">Last Weeks Sleep</h1>
          <div class="chart" style="display: block;">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [colors]="barChartColors"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"
                    [style.height]="200+ 'px'"
                    [style.width]="900+ 'px'" ></canvas>
          </div>
    </div>
    <div [@toggleGraph]='graphStates.calorieGraphState.state' [style.order]="graphStates.calorieGraphState.order" class="attrGraphTile baseTile" id="calorieGraphTile">
      <h1 class="attrGraphTitle">Calories Burned Today</h1>
      <div class="chart" style="display: block;">
        <canvas baseChart
                [datasets]="calorieChartData"
                [labels]="calorieChartLabels"
                [options]="lineChartOptions"
                [colors]="calorieChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"
                [style.height]="200+ 'px'"
                [style.width]="900+ 'px'" ></canvas>
      </div>
    </div>
    <div [@toggleGraph]='graphStates.idleGraphState.state' [style.order]="graphStates.idleGraphState.order" class="attrGraphTile baseTile" id="idleGraphTile">
      <h1>Idle Time Graph</h1>
    </div>
  </div>
  <section class="historyWrapper">
    <section class="tileSummary baseTile" *ngFor="let tile of dayTiles">
      <section class="tileTop">
        <div class="summaryTopBanner">
          <h2 class="summaryTopBannerTitle"> {{tile.date}} </h2>
          <h2 class="summaryTopBannerYear"> {{tile.year}} </h2>
        </div>
        <section class="summaryContent">
          <table class="summaryContentTable">
            <tr>
              <td class="summaryContentMoodCell">
                <img [src]="tile.mood" />
              </td>
              <td class="summaryContentCell">
                <img class="summaryContentIcon" [src]="icons.steps" />
                <p class="summaryContentCount"> {{tile.steps}} </p>
                <p class="summaryContentAvg"> {{stats.Items[0].info.Moves.Steps.avg}} avg </p>
              </td>
              <td class="summaryContentCell">
                <img class="summaryContentIcon" [src]="icons.heart_tile" />
                <p class="summaryContentCount"> {{tile.HR}} </p>
                <p class="summaryContentAvg"> {{stats.Items[0].info.HeartRate.avg}} avg </p>
              </td>
              <td class="summaryContentCell">
                <img class="summaryContentIcon" [src]="icons.burn_tile" />
                <p class="summaryContentCount"> {{tile.calories}} </p>
                <p class="summaryContentAvg"> {{stats.Items[0].info.Moves.Calories.avg}} avg </p>
              </td>
            </tr>
          </table>
        </section>
        <table class="summaryBottomBanner">
          <tr>
          <td class="summaryBottomBannerSection">
            <img class="summaryBottomBannerIcon" [src]="icons.moon_tile" />
            <p class="summaryBottomBannerText"> {{tile.asleep_time}}</p>
          </td>
          <td class="summaryBottomBannerSection">
            <img class="summaryBottomBannerIcon" [src]="icons.sun" />
            <p class="summaryBottomBannerText">{{tile.awake_time}}</p>
          </td>
          <td class="summaryBottomBannerSection">
            <img class="summaryBottomBannerIcon" [src]="icons.flame" />
            <p class="summaryBottomBannerText">{{tile.active_time}}</p>
          </td>
          </tr>
        </table>
      </section>
      <section [@movePanel]='summary_state' class="summaryExtended">
        <div class="summaryExtendedAttributeTop">
          <p class="summaryExtendedAttrTitle">Distance</p>
          <div class="barSection">
            <div class="barMax">
              <p class="barMaxValue">{{stats.Items[0].info.Moves.Distance.max}}</p>
            </div>
            <div class="bar" [style.width] = "tile.distance_width">
              <p class="barValue">{{tile.distance}}</p>
            </div>
            <div class="barAvg" [style.width] = "tile.distance_avg_width">
              <p class="barAvgValue">{{stats.Items[0].info.Moves.Distance.avg}}</p>
            </div>
          </div>
        </div>
        <div class="summaryExtendedAttributeBottom">
          <p class="summaryExtendedAttrTitle">Sleep Duration</p>
          <div class="barSection">
            <div class="barMax">
              <p class="barMaxValue">{{tile.sleep_duration_max}}</p>
            </div>
            <div class="bar" [style.width] = "tile.sleep_duration_width">
              <p class="barValue">{{tile.sleep_duration}}</p>
            </div>
            <div class="barAvg" [style.width] = "tile.sleep_duration_avg_width">
              <p class="barAvgValue">{{tile.sleep_duration_avg}}</p>
            </div>
          </div>
        </div>
        <table class="summaryExtendedWorkout">
            <tr>
              <td class="summaryExtendedWorkoutSection" *ngFor="let wo of tile.workouts">
                <img class="summaryExtendedWorkoutIcon" [src]="wo.icon" />
                <p class="summaryExtendedWorkoutText"> {{wo.duration}}</p>
              </td>
            </tr>
        </table>
      </section>
      <div (click)="toggleMove()" class="summaryExtender"></div>

    </section>
  </section>


</div>



<!--
<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
      <canvas baseChart width="500px" height="500px"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button (click)="randomize()">CLICK</button>
  </div>
</div>
-->
