<nav class="header">
  <div class="navLeft">
    <h1 class="welcomeMessage">Welcome, Bhavnit</h1>
  </div>
  <div class="navMiddle">
    <ul class="navigation">
      <li><a selected="true">Summary</a></li>
      <li><a>Calendar</a></li>
      <li><a>Trends</a></li>
    </ul>
  </div>
   <div class="navRight">

   </div>

</nav>

<div class="tileBack">
  <div class="tileToday baseTile">
    <div class="todayBanner"></div>
    <h2 id="todayDate">{{todaysDate}}</h2>
    <div class="attrWrapper">
      <table border = "1">
        <tr>
          <td (click)="toggleGraph('sleepGraphState')">Asleep Time</td>
          <td>Awake Time</td>
          <td>Sleep Quality</td>
          <td>Heart Rate</td>
          <td (click)="toggleGraph('calorieGraphState')">Calories</td>
          <td (click)="toggleGraph('idleGraphState')">Idle Time</td>
        </tr>
      </table>
    </div>
  </div>
  <div [@toggleGraphWrapper]='graphWrapperState' class="attrGraphWrapper" id="attrGraphWrapper">
    <div [@toggleGraph]='graphStates.sleepGraphState.state' [style.order]="graphStates.sleepGraphState.order" class="attrGraphTile baseTile" id="sleepGraphTile">
      <h1>Sleep Graph</h1>
    </div>
    <div [@toggleGraph]='graphStates.calorieGraphState.state' [style.order]="graphStates.calorieGraphState.order" class="attrGraphTile baseTile" id="calorieGraphTile">
      <h1>Calories Graph</h1>
    </div>
    <div [@toggleGraph]='graphStates.idleGraphState.state' [style.order]="graphStates.idleGraphState.order" class="attrGraphTile baseTile" id="idleGraphTile">
      <h1>Idle Time Graph</h1>
    </div>
  </div>
  <div class="historyWrapper">
    <div class="tileSummary baseTile">
      <div class="tileTop">
        <div class="summaryTopBanner">
          <h2 class="summaryTopBannerTitle"> Friday 25 March</h2>
          <h2 class="summaryTopBannerYear"> 2017 </h2>
        </div>
        <div class="summaryContent">
          <table class="summaryContentTable">
            <tr>
              <td class="summaryContentMoodCell">
                <img [src]="mood_face" />
              </td>
              <td class="summaryContentCell">
                <img class="summaryContentIcon" [src]="steps_icon" />
                <p class="summaryContentCount"> 2526 </p>
                <p class="summaryContentAvg"> 2526 avg </p>
              </td>
              <td class="summaryContentCell">
                <img class="summaryContentIcon" [src]="HR_icon" />
                <p class="summaryContentCount"> 67 </p>
                <p class="summaryContentAvg"> 60 avg </p>
              </td>
              <td class="summaryContentCell">
                <img class="summaryContentIcon" [src]="bed_icon" />
                <p class="summaryContentCount"> 56% </p>
                <p class="summaryContentAvg"> 85% avg </p>
              </td>
            </tr>
          </table>
        </div>
        <table class="summaryBottomBanner">
          <tr>
          <td class="summaryBottomBannerSection">
            <img class="summaryBottomBannerIcon" [src]="moon_icon" />
            <p class="summaryBottomBannerText"> 11:53pm</p>
          </td>
          <td class="summaryBottomBannerSection">
            <img class="summaryBottomBannerIcon" [src]="sun_icon" />
            <p class="summaryBottomBannerText">08:32am</p>
          </td>
          <td class="summaryBottomBannerSection">
            <img class="summaryBottomBannerIcon" [src]="flame_icon" />
            <p class="summaryBottomBannerText">1h 33m</p>
          </td>
          </tr>
        </table>
      </div>
      <div [@movePanel]='summary_state' class="summaryExtended">
        <div class="summaryExtendedAttributeTop">
          <p class="summaryExtendedAttrTitle">Distance</p>
          <div class="barSection">
            <div class="bar"></div>
            <div class="barMax"></div>
            <div class="barAvg"></div>
          </div>
        </div>
        <div class="summaryExtendedAttributeBottom">
          <p class="summaryExtendedAttrTitle">Sleep Duration</p>
          <div class="barSection">
            <div class="bar"></div>
            <div class="barMax"></div>
            <div class="barAvg"></div>
          </div>
        </div>
        <table class="summaryExtendedWorkout">
            <tr>
              <td class="summaryExtendedWorkoutSection">
                <img class="summaryExtendedWorkoutIcon" [src]="football_icon" />
                <p class="summaryExtendedWorkoutText"> 1h 20m</p>
              </td>
              <td class="summaryExtendedWorkoutSection">
                <img class="summaryExtendedWorkoutIcon" [src]="dumbbell_icon" />
                <p class="summaryExtendedWorkoutText">30m</p>
              </td>
              <td class="summaryExtendedWorkoutSection">
                <img class="summaryExtendedWorkoutIcon" [src]="bike_icon" />
                <p class="summaryExtendedWorkoutText">1h 00m</p>
              </td>
            </tr>
        </table>
      </div>
      <div (click)="toggleMove()" class="summaryExtender"></div>

    </div>
    <div class="tileSummary"></div>
    <div class="tileSummary"></div>
  </div>
</div>



<!--
<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
      <canvas baseChart width="500px" height="500px"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button (click)="randomize()">CLICK</button>
  </div>
</div>
-->
