/* Summary of stats ---------- */
.summaryTotalSection {
  margin: 2% 0 0 0;
  width:100%;
  height: 63%;
  min-height: 457px;
  max-height: 470px;
  display: inline-block;
  background-color: #EEEEFF;
  float: left;
  position: relative;
  overflow: hidden;
}

.todayTable {
  width: 100%;
  padding: 1%;
  position: relative;
}

.todayTableActivityIcon {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  max-width: 50px;
  max-height: 75px;
  display: block;
  margin: 6% auto 6% auto;
}

.todayTableAttrValue {
  order: 2;
  text-align: center;
  margin: 5% 0 2% 0;
  font-size: 1em;
}
.todayTableCell {
  text-align: center;
  position: relative;
  display: block;
  float: left;
}

.todayTableActivityCell {
  margin-bottom: 1%;
  width: 24%;
  border-top: 1px dotted #00838F;
  border-bottom: 1px dotted #00838F;
}

.todayTableActivityValue {
  font-size: 1.3em;
  font-style: italic;
}

.todayTableAttrRowIcon {
  width: 15%;
}

.todayTableWorkoutRow {
  background-color: #FFDDDD;
}

.todayTableWorkoutCell {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 19%;
}

.todayTablePercRow {
  background-color: #FFFFFF;
}

.todayTablePercCell {
  margin-top: 1%;
  width: 19%;
}

.todayTableSleepRow {
  background-color: #DDEEEE;
}

.todayTableSleepCell {
  margin-top: 1%;
  width: 19%;
}


.attrLargeNumber {
  font-size: 2em;
  margin: auto 10% auto 10%;
  text-align: center;
}

.todayTableFirstCell {
  margin-left: 10%;
}
/* ---------------------------- */

/* Section of graphs ---------- */

.companyGraphLeft {
  position: relative;
  float: left;
  width: 49%;
  margin: 2% auto 0 auto;
  background-color: #EEEEFF;
  min-height: 250px;
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;

}

.companyGraphRight {
  position: relative;
  float: right;
  width: 49%;
  margin: 2% auto 0 auto;
  background-color: #EEEEFF;
  min-height: 250px;
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;

}

/* ---------------------------- */
