/* Summary of stats ---------- */
.summaryTotalSection {
  margin: 2% 0 0 0;
  width:100%;
  height: 90%;
  min-height: 425px;
  max-height: 480px;
  display: inline-block;
  background-color: #EEEEFF;
  float: left;
  position: relative;
  overflow: hidden;
}

.todayTable {
  width: 100%;
  padding: 1%;
  position: relative;
}

.todayTableActivityIcon {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  max-width: 50px;
  max-height: 75px;
  display: block;
  margin: 6% auto 6% auto;
}

.todayTableAttrValue {
  order: 2;
  text-align: center;
  margin: 5% 0 2% 0;
  font-size: 1em;
}
.todayTableCell {
  text-align: center;
  position: relative;
  display: block;
  float: left;
}

.todayTableActivityCell {
  margin-bottom: 1%;
  width: 24%;
  border-top: 1px dotted #00838F;
  border-bottom: 1px dotted #00838F;
}

.todayTableActivityValue {
  font-size: 1.3em;
  font-style: italic;
}

.todayTableAttrRowIcon {
  width: 15%;
}

.todayTableWorkoutRow {
  background-color: #FFDDDD;
}

.todayTableWorkoutCell {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 19%;
}

.todayTablePercRow {
  background-color: #FFFFFF;
}

.todayTablePercCell {
  margin-top: 1%;
  width: 19%;
}

.todayTableSleepRow {
  background-color: #DDEEEE;
}

.todayTableSleepCell {
  margin-top: 1%;
  width: 19%;
}


.attrLargeNumber {
  font-size: 2em;
  margin: auto 10% auto 10%;
  text-align: center;
}

.todayTableFirstCell {
  margin-left: 10%;
}
/* ---------------------------- */

/* Section of graphs ---------- */

.companyGraphTitle {
  margin: 1% 0 2% 2%;
  font-style: italic;
  border-bottom: dotted 1px;
}

.companyGraphLeft {
  position: relative;
  float: left;
  width: 49%;
  margin: 2% auto 0 auto;
  background-color: #EEEEFF;
  min-height: 210px;
  max-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;

}

.companyGraphRight {
  position: relative;
  float: right;
  width: 49%;
  margin: 2% auto 0 auto;
  background-color: #EEEEFF;
  min-height: 200px;
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;

}

/* ---------------------------- */
/* Media Screen settings */
@media screen and (min-width: 1340px) and (max-width: 1730px) {
  .summaryTotalSection {
    height: 97%;
  }
}

@media screen and (min-width: 826px) and (max-width: 1339px) {
  .attrLargeNumber {
    font-size: 1.5em;
    margin: auto 7% auto 7%;
    text-align: center;
  }
  .todayTableActivityValue {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 651px) and (max-width: 900px) {
  .summaryTotalSection {
    max-height: 425px;
  }

  .attrLargeNumber {
    font-size: 1.2em;
    margin: auto 2% auto 2%;
    text-align: center;
  }
  .todayTableActivityValue {
    font-size: 1.1em;
    font-style: italic;
  }
}

@media screen and (max-width: 650px) {
  ul.navigation li a {
    font-size: 1em;
    display:table-row;
  }

  .summaryTotalSection {
    margin-bottom: 2%;
  }

  #todayDate {
    font-size: 1.5em;
    width:100%;
    float: left;
  }

  .attrLargeNumber {
    font-size: 1.1em;
    margin: auto 2% auto 2%;
    text-align: center;
  }

  .summaryTotalSection {
    height: 70%;
  }

  .companyGraphLeft{
    float: none;
    margin: 0.5% auto 1.5% auto;
    width: 100%;
    min-width: 310px;
  }

  .companyGraphRight{
    float: left;
    margin: 0.5% auto 1.5% auto;
    width: 100%;
    min-width: 310px;
  }

}
