md-sidenav {
  position: relative;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.sideNav {
  width: 20%;
  float:left;
}

.main {
  width : 80%;
  float:left;
}

/* Overall Page */

body {
  margin: 0; /* remove whitespace at top of page */
}

html, body {
  height: 100%;
  width: 100%;
}
/* -----------------------------------------*/

/* Top Navigation Bar ---------------------*/
.header {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #00838F;
  color: white;
}

.navMiddle {
  text-align: center;
}

.navLeft {
  position: relative;
  height: 50px;
  float:left;
  width: 33.3%;
}

.welcomeMessage {
  text-align: center;
  font-weight: normal;
  margin: 11px 0 0 0;
}

.navMiddle {
  position: relative;
  height: 50px;
  float:left;
  width: 33.3%;
}

.navRight {
  position: relative;
  height: 50px;
  float:left;
  width: 33.3%;
}


ul.navigation {
  padding: 0;
  display: inline-block;
  list-style: none;
  height: 100%;
  overflow: hidden;
}

ul.navigation li {
  display:inline-block;
}

ul.navigation li a {
  color: #FFFFFF;
  font-size: 19px;
  padding: 14px 16px;
}

ul.navigation li a[selected="true"] {
  background-color: #FDFDFD;
  color: #00838F;
}

ul.navigation li a:hover {
  cursor: pointer;
  background-color: #2E99A3;
}

/* -----------------------------------------*/


/* Summary Body Section------------------------*/

.baseTile {
  box-shadow: 1px 4px 9px #888888;
}

/* Main body */
.tileBack {
  margin-left: 20%;
  height: 100%;
  background-color: #FDFDFD;
  width: 60%;
  position: relative;
}


/* The tile for today and its attributes */
.tileToday {
  margin: 2% 0 0 0;
  width:100%;
  height:45%;
  min-height: 200px;
  max-height: 400px;
  display: inline-block;
  background-color: #EEEEFF;
  float: left;
  position: relative;
}

.todayBanner {
  width: 100%;
  background-color: #00838F;
  height: 1%;
  min-height: 7px;
  max-height: 12px;
}

#todayDate {
  margin: 1% 0 0 1%;
  color: #061A40;
  font-style: italic;
  font-size: 1.5em;
  width: 50%;
  position: relative;
  float: left;
}


.todayBarSection {
  float: left;
  margin: 2% 0 2% 2%;
  width: 64%;
  height: 50%;
}

.todayBarSectionTitle {
  margin: 0 0 1% 1%;
  font-size: 1em;
}

.todayBarSteps {
  position: relative;
  height: 45%;
  width: 100%;
  padding: 1% 0 0 0;
}

.todayBarActiveTime {
  position: relative;
  height: 45%;
  width: 100%;
  padding: 1% 0 0 0;
}

.attrBarMax {
  border-radius: 3px;
  border: 1px solid #00CD00;
  min-height: 10px;
  max-height: 20px;
  width: 100%;
  position: absolute;
}

.attrBar {
  border-radius: 3px;
  background: #00B050;
  min-height: 18px;
  max-height: 30px;
  z-index: 2;
  position: absolute;
  width: 75%;
  top: 39px;
}

.attrBarAvg {
  border-radius: 3px;
  background: grey;
  min-height: 15px;
  max-height: 35px;
  width: 71%;
  z-index: 1;
  opacity: 0.3;
  position: absolute;
  top: 52px;
}


.todayDonutSection {
  margin: 1% 1% 1% 0;
  width: 34%;
  height: 90%;
  overflow: hidden;
}

/* div that encases the attributes of current day summary */
.attrWrapper {
  position: absolute;
  min-height: 60px;
  bottom: 0;
  left: 0;
  width: 50%;
}

.attrCell {
  position: relative;
  width: 16.6%;
  padding: 1%;
}

.attrIcon {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  max-width: 50px;
  max-height: 75px;
  display: block;
  margin: 10% auto 10% auto;
}
.attrValue {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  text-align: center;
  margin: 2% 0 2% 0;
  font-size: 1em;
}

/* ---------------------------------------- */



.attrGraphWrapper {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 100%;
  background-color: aliceblue;
  float: left;
  margin: 2% 0 0 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.attrGraphTile {
  width: 100%;
  max-height: 400px;
  background-color: #528881;
  float: left;
  min-height: 300px;
  margin-top: 1.5%;
  /*margin: 1.5% 0 0 0;

  -moz-transition: height .7s;
  -ms-transition: height .7s;
  -o-transition: height .7s;
  -webkit-transition: height .7s;
  transition: height .7s;
  height: 0;*/
  overflow: hidden;
}

/*
#sleepGraphTile { order : 1}
#calorieGraphTile { order : 2}
#idleGraphTile { order : 3}
*/

/* base Tile that encases the summary tiles of the previous n days */
.historyWrapper {
  width: 100%;
  min-height: 200px;
  background-color: #DDDDDD;
  float: left;
  margin: 2% 0 0% 0;
  overflow: hidden;
  position: relative;
}

.tileSummary {
  width: 31.3%;
  height: 100%;
  min-height: 185px;
  max-height: 500px;
  background-color: #EEEEFF;
  float: left;
  margin: 1% 0 1% 1.5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  /* overflow: hidden; */
}

.tileTop {
  height: 100%;
  position: relative;
  float: left;
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

/* The top banner of each day tile */
.summaryTopBanner {
  width: 100%;
  background-color: #00838F;
  height: 5%;
  min-height: 30px;
  max-height: 35px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  padding-top: 1%;
}

.summaryTopBannerTitle {
  color: #FFFFFF;
  font-style: italic;
  position: relative;
  width: 49%;
  height: 100%;
  margin: 0 0 0 1%;
  float: left;
  font-size: 1.2em;
}

.summaryTopBannerYear {
  color: #FFFFFF;
  font-style: italic;
  position: relative;
  float: left;
  text-align: right;
  width: 48%;
  height: 100%;
  margin: 0;
  font-size: 1.2em;
}
/* ------------------------------- */


/* The content of each day tile */
.summaryContent {
  width: 100%;
  background-color: white;
  height: 90%;
  min-height: 110px;
  max-height: 150px;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  position: relative;
}

.summaryContentTable {
  position: relative;
  margin: 0 1% 1% 1%;
  width: 100%;
  height: 100%;
  padding-top: 1%;
}

.summaryContentMoodCell {
  padding: 2% 5% 0 5%;
  width: 30%;
}

/* for steps, hr and sleeps */
.summaryContentCell {
  position: relative;
  width: 20%;
  padding: 1%;
}

.summaryContentIcon {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  max-width: 35px;
  max-height: 40px;
  display: block;
  margin: 10% auto 10% auto;
}
.summaryContentCount {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  text-align: center;
  margin: 2% 0 2% 0;
  font-size: 1.2em;
}
.summaryContentAvg {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  color: grey;
  text-align: center;
  margin: 2% 0 2% 0;
  font-size: 1em;
}
/* ---------------------- */



/* The bottom bar of the day tile */
.summaryBottomBanner {
  width: 100%;
  background-color: #00838F;
  height: 5%;
  min-height: 40px;
  max-height: 75px;
  position: relative;
  float: left;
  bottom: 0;
  left: 0;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.summaryBottomBannerSection {
  position: relative;
  width: 30%;
  height: 100%;
  float: left;
  margin: 1%;
}

.summaryBottomBannerIcon {
  max-width: 25px;
  max-height: 25px;
  margin: 1%;
  float: left;
}

.summaryBottomBannerText {
  margin: 4% 0 0 10%;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1em;
  float: left;
}
/* -------------------------- */


/* The extended section of the day tile */
.summaryExtended {
  width: 100%;
  background-color: white;
  margin: 0.5% 0 0 0;
  float: left;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  position: relative;
  -webkit-transition: height .7s;
  transition: height .7s;
  height: 0;
  overflow: hidden;
}

.summaryExtendedAttributeTop {
  position: relative;
  height: 39%;
  width: 100%;
  padding: 1% 0 0 0;
}

.summaryExtendedAttributeBottom {
  position: relative;
  height: 39%;
  width: 100%;
}

.summaryExtendedAttrTitle {
  margin: 0 0 0 6%;
  font-size: 1em;
}

.barSection {
  margin: 1% 10% 0 10%;
}

.bar {
  border-radius: 2px;
  background: #00B050;
  min-height: 10px;
  max-height: 15px;
  z-index: 2;
  width: 66%;
  margin-bottom: 1%;
}

.barMax {
  border-radius: 2px;
  border: 1px solid #00CD00;
  min-height: 6px;
  max-height: 20px;
  margin-bottom: 1%;
}

.barAvg {
  border-radius: 2px;
  background: grey;
  min-height: 10px;
  max-height: 15px;
  width: 73%;
  z-index: 1;
  opacity: 0.3;
}


.summaryExtendedWorkout {
  width: 100%;
  background-color: #00838F;
  height: 20%;
  min-height: 50px;
  max-height: 115px;
  position: relative;
  float: left;
}


.summaryExtendedWorkoutSection {
  position: relative;
  width: 30%;
  height: 100%;
  float: left;
  margin: 1%;
}

.summaryExtendedWorkoutIcon {
  max-width: 25px;
  max-height: 25px;
  margin: 1%;
  float: left;
}

.summaryExtendedWorkoutText {
  margin: 4% 0 0 10%;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1em;
  float: left;
}



/* the extender button */
.summaryExtender {
  width: 100%;
  background-color: #FFFFFF;
  height: 1%;
  min-height: 10px;
  max-height: 12px;
  position: absolute;
  bottom: -9px;
  left: 0;
}

.summaryExtender:hover {
  cursor: pointer;
  background-color: #2E99A3;
}

/* -----------------------------------------*/
