/* You can add global styles to this file, and also import other style files */
md-sidenav {
  position: relative;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.sideNav {
  width: 20%;
  float:left;
}

.main {
  width : 80%;
  float:left;
}

/* Overall Page */

body {
  margin: 0; /* remove whitespace at top of page */
}

html, body {
  height: 100%;
  width: 100%;
}
/* -----------------------------------------*/

/* Top Navigation Bar ---------------------*/
.header {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #00838F;
  color: white;
}

.navMiddle {
  text-align: center;
}

.navLeft {
  position: relative;
  height: 50px;
  float:left;
  width: 33.3%;
}

.welcomeMessage {
  text-align: center;
  font-weight: normal;
  margin: 11px 0 0 0;
}

.navMiddle {
  position: relative;
  height: 50px;
  float:left;
  width: 33.3%;
}

.navRight {
  position: relative;
  height: 50px;
  float:left;
  width: 33.3%;
}


ul.navigation {
  padding: 0;
  display: inline-block;
  list-style: none;
  height: 100%;
  overflow: hidden;
}

ul.navigation li {
  display:inline-block;
}

ul.navigation li a {
  color: #FFFFFF;
  font-size: 19px;
  padding: 14px 16px;
}

ul.navigation li a[selected="true"] {
  background-color: #FDFDFD;
  color: #00838F;
}

ul.navigation li a:hover {
  cursor: pointer;
  background-color: #2E99A3;
}

/* -----------------------------------------*/


/* Summary Body Section------------------------*/

.baseTile {
  box-shadow: 1px 4px 9px #888888;
}

/* Main body */
.tileBack {
  margin-left: 20%;
  height: 100%;
  background-color: #FDFDFD;
  width: 60%;
  position: relative;
}

.tileToday {
  margin: 2% 0 0 0;
  width:100%;
  height:40%;
  min-height: 350px;
  max-height: 400px;
  display: inline-block;
  background-color: #EEEEFF;
  float: left;
  position: relative;
}

.todayBanner {
  width: 100%;
  background-color: #00838F;
  height: 1%;
  min-height: 7px;
  max-height: 12px;
}

#todayDate {
  margin: 1% 0 0 1%;
  color: #061A40;
  font-style: italic;
}

/* div that encases the attributes of current day summary */
.attrWrapper {
  position: absolute;
  min-height: 60px;
  bottom: 0;
  left: 0;
}

.attrGraphWrapper {
  position: relative;
  flex-flow: column;
  width: 100%;
  background-color: aliceblue;
  float: left;
  margin: 2% 0 0 0;
  overflow: hidden;
  display: flex;
}

.attrGraphTile {
  width: 100%;
  max-height: 400px;
  background-color: #528881;
  float: left;
  min-height: 300px;
  margin-top: 1.5%;
  /*margin: 1.5% 0 0 0;

  -moz-transition: height .7s;
  -ms-transition: height .7s;
  -o-transition: height .7s;
  -webkit-transition: height .7s;
  transition: height .7s;
  height: 0;*/
  overflow: hidden;
}

/*
#sleepGraphTile { order : 1}
#calorieGraphTile { order : 2}
#idleGraphTile { order : 3}
*/

/* base Tile that encases the summary tiles of the previous n days */
.historyWrapper {
  width: 100%;
  min-height: 200px;
  background-color: #DDDDDD;
  float: left;
  margin: 2% 0 0 0;
  overflow: hidden;
  position: relative;
}

.tileSummary {
  width: 31.3%;
  height: 100%;
  min-height: 199px;
  max-height: 700px;
  background-color: #EEEEFF;
  float: left;
  margin: 1% 0 1% 1.5%;
  position: relative;
  display: flex;
  flex-flow: column;
}

.tileTop {
  height: 100%;
  position: relative;
  float: left;
  width: 100%;
  order: 1;
}

/* The top banner of each day tile */
.summaryTopBanner {
  width: 100%;
  background-color: #00838F;
  height: 5%;
  min-height: 30px;
  max-height: 35px;
  order: 1;
  padding-top: 1%;
}

.summaryTopBannerTitle {
  color: #FFFFFF;
  font-style: italic;
  position: relative;
  width: 49%;
  height: 100%;
  margin: 0 0 0 1%;
  float: left;
}

.summaryTopBannerYear {
  color: #FFFFFF;
  font-style: italic;
  position: relative;
  float: left;
  text-align: right;
  width: 48%;
  height: 100%;
  margin: 0;
}
/* ------------------------------- */


/* The content of each day tile */
.summaryContent {
  width: 100%;
  background-color: palevioletred;
  height: 90%;
  min-height: 135px;
  max-height: 150px;
  order: 2;
  position: relative;
}

.summaryContentTable {
  position: relative;
  margin: 0 1% 1% 1%;
  width: 100%;
  height: 100%;
  padding-top: 1%;
}

.summaryContentMoodCell {
  padding: 2% 5% 0 5%;
  width: 30%;
}

.summaryContentCell {
  position: relative;
  width: 20%;
  padding: 1%;
}

.summaryContentIcon {
  order: 1;
  max-width: 50px;
  max-height: 50px;
  display: block;
  margin: 10% auto 10% auto;
}
.summaryContentCount {
  order: 2;
  color: #FFFFFF;
  text-align: center;
  margin: 2% 0 2% 0;
  font-size: 27px;
}
.summaryContentAvg {
  order: 3;
  color: #FFFFFF;
  text-align: center;
  margin: 2% 0 2% 0;
  font-size: 18px;
}


/* ---------------------- */

.summaryBottomBanner {
  width: 100%;
  background-color: #00838F;
  height: 5%;
  min-height: 30px;
  max-height: 35px;
  position: relative;
  float: left;
  bottom: 0px;
  left: 0;
  order: 3;
}

.summaryExtended {
  width: 100%;
  max-height: 210px;
  background-color: #EEEEEE;
  margin: 0.5% 0 0 0;
  float: left;
  order: 2;
  position: relative;
  -moz-transition: height .7s;
  -ms-transition: height .7s;
  -o-transition: height .7s;
  -webkit-transition: height .7s;
  transition: height .7s;
  height: 0;
  overflow: hidden;
}

.summaryExtender {
  width: 100%;
  background-color: #FFFFFF;
  height: 1%;
  min-height: 10px;
  max-height: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.summaryExtender:hover {
  cursor: pointer;
  background-color: #2E99A3;
}




/* -----------------------------------------*/
